<% include ./partials/header.ejs %>


<% if (user) { %>

<div class="">
        <div class="col s12 ">
                <h5 class="center teal-text text-lighten-1">Available Tasks</h5>
        </div>

        <div class="row">
                <% tasks.forEach(function(task){ %>
                <% if (task.available){ %>
                <a class="card-link" href="/tasks/show/<%=task._id%>">
                        <div class="col s6 m6" href="/tasks/show/<%=task._id%>">
                                <div class="card cyan lighten-4">
                                        <div class="card-content teal lighten-1">
                                                <span class="card-title"><%=task.title%></span>
                                                <p>"<%=task.description%>"</p>
                                                <hr>
                                                <p>Due: <%=task.completion.getMonth()+1 %>/<%=task.completion.getDate()%>/<%=task.completion.getFullYear()%>
                                                </p>
                                                <p>Points: <%=task.points%></p>
                                                <p>Creator: <img class="profile" src="<%=task.creatorAvatar%>" alt=""> <%=task.creatorName%></p>
                                                <a href="/users/assigntask/<%=task._id%>"
                                                        class="btn halfway-fab right  waves-effect waves-light red lighten-1"><i
                                                                class="material-icons">add</i>Claim Task</a>
                                        </div>
                                </div>
                        </div>
                </a>
                <!--                         <div class="col s6 m6"> <a href="/tasks/show/<%=task._id%>">
                                        <div class="card z-depth-3">
                                                <div class="card-image">
                                                        <img src="../images/clipboard.png">
                                                        <span class="card-title black-text">
                                                                <p><%=task.title%></p>
                                                        </span>
                                                        <a href="/users/assigntask/<%=task._id%>"
                                                                class="btn-floating halfway-fab waves-effect waves-light red"><i
                                                                        class="material-icons">add</i></a>
                                                </div>
                                                <div class="card-content">
                                                        <p><%=task.description%></p>
                                                        <p><%=task.completion%></p>
                                                        <p><%=task.points%></p>
                                                        <p><%=task.creator%></p>
                                                        <p><%=task.assigned%></p>
                                                </div>
                                        </div>
                                </a>
                        </div>-->
                <%}%>
                        <% }); %>
        </div>

</div>

<div class="">
        <br>
        <hr>
        <div class="row">
                <div class="col s6">
                        <h5 class="center teal-text text-lighten-1">Leaderboards</h5>
                </div>
                <div class="col s6">
                        <h5 class="center teal-text text-lighten-1">Recently Completed Tasks</h5>
                </div>
        </div>

        <div class="row">
                <div class="col s6 m6 ">
                        <%sortedUsers.forEach(function(user){%>
                        <div class="row">
                                <div class="">
                                                  <div class=" card teal lighten-1">
                                        <div class="card-content white-text">
                                                <img class = "profile" src="<%=user.avatar%>" alt="">       
                                                <b><%=user.name%></b>
                                                :
                                                <b><%=user.points%></b>
                                                <% if (user.points>1) { %>
                                                points
                                                <%} else { %>
                                                point
                                                <%}%>
                                                    </div>
                                                  </div>
                                                </div>
                                    </div>
                        
<!--                 <p>
                        <%=user.name%>
                                                :
                                                <%=user.points%>
                                                <% if (user.points>1) { %>
                                                points
                                                <%} else { %>
                                                point
                                                <%}%>
                </p> -->
                <%})%>
                                        </div>
                                        <div class="col s6">
                                                <ul>
                                                        <%sortedTasks.forEach(function(task){%>
                                                                <%if (task.completed) {%>
                                                        <li>
                                                                <div class="row">
                                                                        <a class="card-link"
                                                                                href="/tasks/show/<%=task._id%>">
                                                                                <div class="col s12 m6"
                                                                                        href="/tasks/show/<%=task._id%>">
                                                                                        <div
                                                                                                class="card teal lighten-1">
                                                                                                <div
                                                                                                        class="card-content white-text">
                                                                                                        <span
                                                                                                                class="card-title"><%=task.title%></span>
                                                                                                                <img class = "profile" src="<%=task.completedByAvatar%>" alt="">
                                                                                                        <b> <%= task.completedBy %>
                                                                                                        </b>
                                                                                                        completed
                                                                                                        <b>"<%=task.title%>"</b>
                                                                                                        for
                                                                                                        <b><%=task.points%></b>
                                                                                                        <% if (task.points>1) { %>
                                                                                                        points
                                                                                                        <%} else { %>
                                                                                                        point
                                                                                                        <%}%>
                                                    </div>
                                                  </div>
                                                </div>
                                        </a>
                                </div>
<!--                                 <b> <%= task.completedBy %> </b>
                                                                                                        completed
                                                                                                        <b><%=task.title%></b>
                                                                                                        for
                                                                                                        <b><%=task.points%></b>
                                                                                                        <% if (task.points>1) { %>
                                                                                                        points
                                                                                                        <%} else { %>
                                                                                                        point
                                                                                                        <%}%> -->
                        </li>
                        <%}%>
                        <%})%>
                                                </ul>
                                        </div>
                                </div>
                        </div>

                        <%} else { %>
                        <h5 class="center teal-text text-lighten-1">Welcome to </h5>
                        <h2 class="center teal-text text-lighten-1">Taskmaster 4000 </h2>
                        <h5 class="center teal-text text-lighten-1">Please sign-in to begin!</h5>
                        <div class="center">
                         <a  class="center waves-effect waves-light btn-large" href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                        </div>
                        <%}%>
                        <% include ./partials/footer.ejs %>