<% include ../partials/header.ejs %>
<div class="">
<h5 class="center teal-text text-lighten-1">My Current Tasks</h5>


<% if (user.currentTasks[0]) { %>

<div class="row">
    <%user.currentTasks.forEach(function(task){%>
        
    <% if (!task.available){%>
        <a class= "card-link" href="/tasks/show/<%=task._id%>"> 
            <div class="col s6 m6" href="/tasks/show/<%=task._id%>">
              <div class="z-depth-3 card blue accent-2">
                <div class="card-content white-text">
                  <span class="card-title"><%=task.title%></span>
                  <p>"<%=task.description%>"</p>
                  <hr>
                  <p>Due: <%=task.completion.getMonth()+1 %>/<%=task.completion.getDate()%>/<%=task.completion.getFullYear()%></p>
                  <p>Points: <%=task.points%></p>
                  <p>Creator: <%=task.creatorName%></p>
                  <a href="/users/removetask/<%=task._id%>"
                    class="btn halfway-fab right  waves-effect waves-light red lighten-1"><i
                        class="material-icons">remove</i>Return Task</a>
                <a href="/users/completetask/<%=task._id%>"
                    class="btn right waves-effect waves-light blue lighten-1"><i
                        class="material-icons">check_box</i>Complete Task</a>
                </div>
              </div>
            </div>
    </a>
    <% }%>
    <%});%>
</div>

<% } else { %>
  <div class="row">
  <div class="col s6 m6" href="">
    <div class="z-depth-3 card blue accent-2">
      <div class="card-content white-text">
        <span class="card-title center">You currently have no tasks!</span>
        <p class = "center">Claim a task on the home screen! </p>
      </div>
    </div>
  </div>
  </div>


  <% } %>

  
  <h5 class="center teal-text text-lighten-1">My Completed Tasks</h5>
  <% if (user.completedTasks[0]) { %>

<div class="row">
        <%user.completedTasks.forEach(function(task){%>
            
    
            <a class= "card-link" href="/tasks/show/<%=task._id%>"> 
                <div class="col s6 m6" href="/tasks/show/<%=task._id%>">
                  <div class="z-depth-3 card light-blue accent-4">
                    <div class="card-content white-text">
                      <span class="card-title"><%=task.title%></span>
                      <p>"<%=task.description%>"</p>
                      <hr>
                      <p>Due: <%=task.createdAt.getMonth()+1 %>/<%=task.createdAt.getDate()%>/<%=task.createdAt.getFullYear()%></p>
                      <p>Points: <%=task.points%></p>
                      <p>Creator: <%=task.creatorName%></p>
                    </div>
                  </div>
                </div>
        </a>
        <%});%>
    </div>
    <% } else { %>
      <div class="row">
      <div class="col s3 m3" href="">
        <div class="z-depth-3 card blue accent-2">
          <div class="card-content white-text">
            <span class="card-title center">You have not completed any tasks!</span>
            <p class = "center">Complete a task after you claim it </p>
          </div>
        </div>
      </div>
      </div>


      
      <% } %>
</div>
<% include ../partials/footer.ejs %>