<% include ../partials/header.ejs %>



<a class= "card-link" href="/tasks/show/<%=task._id%>"> 
  <div class="col s6 m6" href="/tasks/show/<%=task._id%>">
    <div class="card teal lighten-1">
      <div class="card-content white-text">
        <span class="card-title"><%=task.title%></span>
        <p>"<%=task.description%>"</p>
        <hr>
        <p>Due: <%=task.completion.getMonth()+1 %>/<%=task.completion.getDate()%>/<%=task.completion.getFullYear()%></p>
        <p>Points: <%=task.points%></p>
        <p>Creator: <%=task.creatorName%></p>
      </div>
    </div>
  </div>

<% if (task.creatorName===user.name) { %>
  <form action="/tasks/update/<%=task.id%>?_method=PUT" method="POST" autocomplete="off">
    <h6 class="teal-text text-lighten-1">Rename your task:</h6>
    <input type="text" name="title">
    <h6 class="teal-text text-lighten-1">Redescribe your task:</h6>
    <input type="text" name="description">
    <h6 class="teal-text text-lighten-1">New completion date:</h6>
    <input class="teal-text text-lighten-1" type="datetime-local" name="completion" value="2019-01-01T12:00">
    <input class="white-text teal lighten-1"type="submit" value="Edit Your Task">
  </form>
  <%}%>
  


<% include ../partials/footer.ejs %>