<% include ../partials/header.ejs %>

<p><%=task.title%></p>
<p><%=task.description%></p>
<p><%=task.completion%></p>
<p><%=task.points%></p>
<p><%=task.creatorName%></p>
<p><%=task.assigned%></p>


<% include ../partials/footer.ejs %>